MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_DB_URI=mongodb://root:example@localhost:27019/best_combination?authSource=admin
FRONTEND_URL=http://frontend:8000
BACKEND_URL=http://backend:3000

