---
import ContentSection from '../components/content-section.astro';
---

<ContentSection title="About" id="about">
    <Fragment slot="lead">
        Check24 GenDev
        <span class="text-primary">cool</span>
    </Fragment>
</ContentSection>
